
Cardboard/Packages/packages-lock.json
Laptop/Packages/packages-lock.json
Laptop/Assets/Packages/Microsoft.Kinect.2.0.1410.19000/Microsoft.Kinect.2.0.1410.19000.nupkg
Laptop/Assets/Packages/Microsoft.Kinect.2.0.1410.19000/Microsoft.Kinect.2.0.1410.19000.nupkg.meta
Laptop/Assets/Packages/Microsoft.Kinect.2.0.1410.19000/lib.meta
Laptop/Assets/Packages/Microsoft.Kinect.2.0.1410.19000/.signature.p7s
Laptop/Assets/Packages/Microsoft.Kinect.2.0.1410.19000.meta
Laptop/Assets/Packages/Microsoft.Kinect.2.0.1410.19000/Microsoft.Kinect.2.0.1410.19000.nupkg.meta
Laptop/Assets/Packages/Microsoft.Kinect.2.0.1410.19000/lib.meta
Laptop/Assets/Packages/Microsoft.Kinect.2.0.1410.19000.meta
Laptop/Assets/packages.config
Laptop/Assets/Packages/*

Laptop/Assets/Packages/Microsoft.Kinect.2.0.1410.19000.meta
Laptop/Packages/packages-lock.json
