<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="32feet.NET" version="3.5.0.0" />
  <package id="ConsoleTables" version="2.4.2" />
  <package id="InTheHand.Net.Bluetooth" version="4.0.17" />
  <package id="Microsoft.NETCore.Platforms" version="5.0.2" />
  <package id="NETStandard.Library" version="2.0.3" />
  <package id="Network" version="6.2.4.21" />
</packages>